body{
				background:#F0F0ED;
				margin:0;
			}
			.content{
				padding:10px;
				text-align: justify;
				border-left:1px solid #ddd;
			}
			.entry{
				margin:0 0 0 20px;
				padding:0 5px;
			}
			.entry.master{
				margin:0 !important;
			}
			.entry>.content{
				border-left:1px solid #ddd;

			}
			.entry.master>.content{
				border-left:2px solid #ddd;
				margin: none;
			}
			#article{
				width:800px;
				margin:0 auto;
				padding-top:110px;
				padding-right:20px;
				z-index:2;
			}
			#login{
				text-align:left;
				height:80px;
				float:left;
				line-height:12px;
				font-size:12px;
				font-family:sans-serif;
				color:#eee;
				padding-left:10px;
			}
			#global{
				background:dfdsf;
			}
			p{
				text-indent:50px;
				margin:0;
				margin-bottom:5px;
			}
			#main{
				padding:130px 30px 30px;
				font-family: 'Open Sans', sans-serif;
				color:#444;
				font-size:13px;
			}
			#head{
				font-size:30px;
				margin-bottom:20px;
				font-weight:bold;
			}
			#navigator,#footer{
				width:100%;
				z-index:1;
				display:table;

			}
			#navigator{
				position:fixed;
				height:110px;
			}
			#footer{
				height:40px;
			}
			.nav{
				display:table-cell;
				margin-top:30px;
				position:relative;
				line-height:0;
				font-size:0;
			}
			#mNavL{
				/background:#9b1975;
				/border-bottom:1px #333 solid;
				z-index:1;
			}
			#mNavC{ 
				/background-image: -webkit-radial-gradient(0px 0%, circle closest-side, #6d67ab, #992ba6 100%); 
				/background-image: -moz-radial-gradient(0px 0%, circle closest-side, #6d67ab, #992ba6 100%); 
				/border-bottom:1px #333 solid;
				height:inherit;
				width:820px;
				position:relative;
				border-radius:0 0 1px 0;
			}
			.innerNavT{
				position:absolute;
				width:100%;
				height:30px;
				background:rgba(255,255,255,.845);
			}
			.innerNavC{
				position:absolute;
				width:100%;
				height:80px;
				top:30px;
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,180,255,.75)), color-stop(100%,rgba(0,180,240,.75)));
				background: -moz-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,180,255,.75)), color-stop(100%,rgba(0,180,240,.75)));
				/background:blue;
			}
			.innerNavL{
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b92ca), color-stop(100%,#0b92bf));
				background: -moz-gradient(linear, left top, left bottom, color-stop(0%,#0b92ca), color-stop(100%,#0b92bf));
				position:absolute;
				width:100%;
				height:80px;
				padding-right:10px;
				top:30px
			}
			.innerNavL.b{
				width:130%;
				right:0;
				min-width: 300px;
			}
			#bgUnder{
				position:fixed;
				width:100%;
				z-index:-1;
			}
			#bgUnder>div:last-child{
				height: 80px;
				background: #2b2b2b;
			}
			#bgUnder>div:first-child{
				height: 30px;
				background: #999;
			}
			#bgUnder>div{
				margin: 0 auto;
				width: 820px;
			}
			#hAnchor{
				float:left;
				margin:5px;
			}
			#hAnchor>img{
				height:70px
			}
			#aAnchor{
				color:black;
				font-size:25px;
				font-family: 'Libre Baskerville', serif;
				text-decoration:none;
				line-height:55px;
				display:block;
				width:700px;
				float:left;
				color:#333;
				padding-left:20px;
			}
			.archive{
				padding-bottom:30px;
			}
			.archive>.header{
				font-size:22px;
				font-family:'Libre Baskerville',calibri;
				font-weight:bold;
				color:#444;
				cursor:pointer;
			}
			.archive>.preview{
				font-family:'Lusitana', 'Libre Baskerville',calibri;
				margin-left:10px;
				padding-left:10px;
				font-size:14px;
				color:#444;
				padding-top:5px;
				margin-top:5px;
				border-top:1px solid #222;
			}
			.archive>.footer{
				margin-top:10px;
				height:15px;
			}
			.aCont{
				-webkit-transition: -webkit-transform 400ms, -webkit-opacity 400ms;
			}
			.aCont.out{
				-webkit-transform:translateX(-30px);
				-webkit-opacity:0;
			}
			.line{
				float:left;
				width:700px;
			}
			.stat{
				float:right;
				font-size:11px;
			}
			#homeLinks{
				position:absolute;
				color: #222;
				line-height: 15px;
				font-size: 14px;
				width: 450px;
				left: 70px;
				top: 45px;
				font-family: 'Libre Baskerville';
				color:#333;
			}
			#homeLinks>span{
				display:inline-block;
				margin:0 10px;
				cursor:pointer;

			}
			#ReBack{
				position:absolute;
				top:35px;
				left:10px;
			}
			@keyframes spinny{
			  0% {
			    -webkit-transform:rotate(0deg)
			  }
			  5% {
			    -webkit-transform:rotate(-610deg)
			  }
			  100% {
			    -webkit-transform:rotate(-610deg)
			  }
			}
			#reCircle{
				-webkit-transition: -webkit-transform ease-out 300ms;
				-webkit-transform-origin: 50px 50px;
				-webkit-transform:rotate(-30deg);
			  //-webkit-animation: spinny 10s ease-out 0s;
			}
			#reCircle:hover{
			  //-webkit-animation: spinny 10s ease-out;
			  -webkit-transform:rotate(-610deg);

			}
			#BLOG{
				font-size: 16px;
				font-family: 'Headland One';
				/font-weight: bold;
				position: absolute;
				top: 11px;
				color:#F0F0ED;
				left:9px;
			}